# Node & Nx
node_modules
**/node_modules
dist
**/dist
.nx
**/.nx
.angular
.angular/*
.cache
tmp
temp

# IDE & VCS
.git
.gitignore
.gitattributes
.DS_Store
.idea
.vscode

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
