@if(isLoading){
  <div class="loading-container">
    <mat-progress-spinner mode="indeterminate" diameter="60"></mat-progress-spinner>
    <p>Chargement des informations du client...</p>
  </div>
} @else if(client) {
  <div class="client-container">
    <!-- Header -->
    <div class="client-header">
      <button mat-icon-button (click)="goBack()" class="back-button">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <div class="header-info">
        <h1>{{ client.firstName }} {{ client.lastName }}</h1>
        <span class="client-code">{{client.title}}  {{ client.code_client }}</span>
      </div>
    </div>

    <!-- Main Content with Tabs -->
    <mat-tab-group class="client-tabs">

      <!-- Informations générales -->
      <mat-tab label="Informations générales">
        <app-general></app-general>
      </mat-tab>

      <!-- Paiements -->
      <mat-tab label="commandes">
        <app-commandes></app-commandes>
      </mat-tab>

      <!-- Facture -->
      <mat-tab label="Facture">
        <app-facture></app-facture>
      </mat-tab>

    </mat-tab-group>
  </div>
} @else {
  <div class="error-container">
    <mat-icon>error_outline</mat-icon>
    <h2>Client non trouvé</h2>
    <p>Le client demandé n'existe pas ou n'a pas pu être chargé.</p>
    <button mat-raised-button color="primary" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
      Retour à la liste
    </button>
  </div>
}
