<div class="clients-container">
  <header class="clients-header">
    <h1>Liste des Clients</h1>
    <mat-form-field class="search-bar" appearance="outline">
      <mat-label>Rechercher un Client</mat-label>
      <input matInput placeholder="Ex. Dupont" />
    </mat-form-field>
    <button mat-fab extended color="primary" aria-label="Ajouter un Client" (click)="addClient()">
      <mat-icon>add</mat-icon>
      Ajouter un Client
    </button>
  </header>

  <mat-list class="client-list" role="list">
    <mat-list-item *ngFor="let client of client" role="listitem" class="client-item">
      {{ client.lastName}} - {{ client.firstName }} - {{ client.email }}
    </mat-list-item>
  </mat-list>
</div>
