<div class="clients-container">
  <header class="clients-header">
    <h1>Liste des Clients</h1>
    <mat-form-field class="search-bar" appearance="outline">
      <mat-label>Rechercher un Client</mat-label>
      <input matInput placeholder="Ex. Dupont" />
    </mat-form-field>
    <button mat-fab extended color="primary" aria-label="Ajouter un Client" (click)="addClient()">
      <mat-icon>add</mat-icon>
      Ajouter un Client
    </button>
  </header>

  @if (message) {
    <div class="error-message">
      {{ message }}
    </div>
  }

  @if (isLoading) {
    <div class="loading-spinner">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  } @else {
    <table mat-table [dataSource]="client" class="mat-elevation-z8">

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Titre </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>


      <!-- Nom Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Nom</th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>

      <!-- Prénom Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> Prénom </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <!-- Téléphone Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Téléphone </th>
        <td mat-cell *matCellDef="let element"> {{ parseNumber(element.phone_1)}} </td>
      </ng-container>

      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef> Adresse </th>
        <td mat-cell *matCellDef="let element"> {{element.rue}} {{element.code_postal}} {{element.ville}} </td>
      </ng-container>


      <!-- ajouter action et un bouton supprimer qui prend en entré l'id et appelle la fonction delete -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" (click)="deleteClient(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onClientClick(row)"></tr>

    </table>
  }

</div>
