<nav class="sidebar" aria-label="Navigation principale">
  <ul class="nav-list">
    <a routerLink="/">

      <li class="nav-item" tabindex="0">
        <mat-icon aria-hidden="true" fontIcon="dashboard"></mat-icon>
        <span class="label">Tableau de bord / Dashboard</span>
      </li>
    </a>
    <a routerLink="/clients">

      <li class="nav-item" tabindex="0">
        <mat-icon aria-hidden="true" fontIcon="person"></mat-icon>
        <span class="label">Page Clients</span>
      </li>
    </a>
    <a routerLink="/commercial">

      <li class="nav-item" tabindex="0">
        <mat-icon aria-hidden="true" fontIcon="handshake"></mat-icon>
        <span class="label">Page Commercial</span>
      </li>
    </a>
    <a routerLink="/comptabilite">
      <li class="nav-item" tabindex="0">
        <mat-icon aria-hidden="true" fontIcon="attach_money"></mat-icon>
        <span class="label">Page Comptabilité</span>
      </li>
    </a>
    <a routerLink="/dev-ajout-produit">
      <li class="nav-item" tabindex="0">
        <mat-icon aria-hidden="true" fontIcon="code"></mat-icon>
        <span class="label">Ajout produit (dev)</span>
      </li>
    </a>

  </ul>
</nav>
