<div class="add-client-container">
  <mat-card class="client-form-card">
    <mat-card-header>
      <mat-card-title>
        <mat-icon>person_add</mat-icon>
        Ajouter un nouveau client
      </mat-card-title>
      <button mat-icon-button class="close-btn" (click)="onClose()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-header>

    <mat-card-content>
      @if (clientForm) {
      <form [formGroup]="clientForm" (ngSubmit)="onSubmit()" class="client-form">
        <!-- Informations personnelles -->
        <div class="form-section">
          <h3 class="section-title">
            <mat-icon>person</mat-icon>
            Informations personnelles
          </h3>

          <div class="form-row">
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Prénom</mat-label>
              <input matInput formControlName="firstName" required />
              @if(clientForm.get('firstName')?.hasError('required')) {
                <mat-error> Le Prénom est requis </mat-error>
              }
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Nom</mat-label>
              <input matInput formControlName="lastName" required />
              @if(clientForm.get('lastName')?.hasError('required')) {
                <mat-error> Le nom est requis </mat-error>
              }
            </mat-form-field>
          </div>

          <div class="form-row">
            <mat-form-field appearance="outline" class="form-field-full">
              <mat-label>Email</mat-label>
              <input matInput type="email" formControlName="email" required />
              <mat-icon matSuffix>email</mat-icon>
              @if(clientForm.get('email')?.hasError('required')) {
                <mat-error> L'email est requis </mat-error>
              } @if(clientForm.get('email')?.hasError('email')) {
                <mat-error> Format d'email invalide </mat-error>
              }
            </mat-form-field>
          </div>

          <!-- Section Téléphones -->
          <div class="phone-section">
            <div class="phone-section__intro">
              <mat-icon class="phone-section__icon">dialpad</mat-icon>
              <div>
                <p class="phone-section__title">Numéros de téléphone</p>
                <p class="phone-section__subtitle">
                  Saisissez jusqu'à trois numéros en conservant la mise en forme internationale.
                </p>
              </div>
            </div>

            <div class="phone-grid">
              <div
                class="phone-mat-field"
                (focusin)="onPhoneFocus('phone1')"
                (focusout)="onPhoneBlur('phone1')"
                [class.phone-mat-field--focused]="isPhoneFocused('phone1')"
                [class.phone-mat-field--filled]="hasPhoneValue('phone1')"
                [class.phone-mat-field--invalid]="isPhoneInvalid('phone1')">
                <div
                  class="phone-mat-field__wrapper mat-mdc-text-field-wrapper mdc-text-field mdc-text-field--outlined"
                  [class.mdc-text-field--focused]="isPhoneFocused('phone1')"
                  [class.mdc-text-field--invalid]="isPhoneInvalid('phone1')">
                  <div class="mat-mdc-form-field-flex">
                    <div class="mat-mdc-form-field-infix">
                      <ngx-intl-tel-input
                        [cssClass]="'phone-mat-intl-input'"
                        [preferredCountries]="[CountryISO.France, CountryISO.Belgium, CountryISO.Switzerland]"
                        [enablePlaceholder]="true"
                        [searchCountryFlag]="true"
                        [selectFirstCountry]="false"
                        [separateDialCode]="true"
                        [phoneValidation]="true"
                        [selectedCountryISO]="CountryISO.France"
                        [maxLength]="15"
                        name="phone1"
                        formControlName="phone1">
                      </ngx-intl-tel-input>
                    </div>
                  </div>
                  <div
                    class="mdc-notched-outline"
                    [class.mdc-notched-outline--notched]="shouldPhoneLabelFloat('phone1')">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                      <span
                        class="mdc-floating-label"
                        [class.mdc-floating-label--float-above]="shouldPhoneLabelFloat('phone1')">
                        Téléphone 1
                      </span>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                  </div>
                </div>
                <div class="mat-mdc-form-field-subscript-wrapper" *ngIf="isPhoneInvalid('phone1')">
                  <div class="mat-mdc-form-field-error">
                    Le numéro de téléphone n'est pas valide
                  </div>
                </div>
              </div>

              <div
                class="phone-mat-field"
                (focusin)="onPhoneFocus('phone2')"
                (focusout)="onPhoneBlur('phone2')"
                [class.phone-mat-field--focused]="isPhoneFocused('phone2')"
                [class.phone-mat-field--filled]="hasPhoneValue('phone2')"
                [class.phone-mat-field--invalid]="isPhoneInvalid('phone2')">
                <div
                  class="phone-mat-field__wrapper mat-mdc-text-field-wrapper mdc-text-field mdc-text-field--outlined"
                  [class.mdc-text-field--focused]="isPhoneFocused('phone2')"
                  [class.mdc-text-field--invalid]="isPhoneInvalid('phone2')">
                  <div class="mat-mdc-form-field-flex">
                    <div class="mat-mdc-form-field-infix">
                      <ngx-intl-tel-input
                        [cssClass]="'phone-mat-intl-input'"
                        [preferredCountries]="[CountryISO.France, CountryISO.Belgium, CountryISO.Switzerland]"
                        [enablePlaceholder]="true"
                        [searchCountryFlag]="true"
                        [selectFirstCountry]="false"
                        [separateDialCode]="true"
                        [phoneValidation]="true"
                        [selectedCountryISO]="CountryISO.France"
                        [maxLength]="15"
                        name="phone2"
                        formControlName="phone2">
                      </ngx-intl-tel-input>
                    </div>
                  </div>
                  <div
                    class="mdc-notched-outline"
                    [class.mdc-notched-outline--notched]="shouldPhoneLabelFloat('phone2')">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                      <span
                        class="mdc-floating-label"
                        [class.mdc-floating-label--float-above]="shouldPhoneLabelFloat('phone2')">
                        Téléphone 2
                      </span>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                  </div>
                </div>
                <div class="mat-mdc-form-field-subscript-wrapper" *ngIf="isPhoneInvalid('phone2')">
                  <div class="mat-mdc-form-field-error">
                    Le numéro de téléphone n'est pas valide
                  </div>
                </div>
              </div>

              <div
                class="phone-mat-field"
                (focusin)="onPhoneFocus('phone3')"
                (focusout)="onPhoneBlur('phone3')"
                [class.phone-mat-field--focused]="isPhoneFocused('phone3')"
                [class.phone-mat-field--filled]="hasPhoneValue('phone3')"
                [class.phone-mat-field--invalid]="isPhoneInvalid('phone3')">
                <div
                  class="phone-mat-field__wrapper mat-mdc-text-field-wrapper mdc-text-field mdc-text-field--outlined"
                  [class.mdc-text-field--focused]="isPhoneFocused('phone3')"
                  [class.mdc-text-field--invalid]="isPhoneInvalid('phone3')">
                  <div class="mat-mdc-form-field-flex">
                    <div class="mat-mdc-form-field-infix">
                      <ngx-intl-tel-input
                        [cssClass]="'phone-mat-intl-input'"
                        [preferredCountries]="[CountryISO.France, CountryISO.Belgium, CountryISO.Switzerland]"
                        [enablePlaceholder]="true"
                        [searchCountryFlag]="true"
                        [selectFirstCountry]="false"
                        [separateDialCode]="true"
                        [phoneValidation]="true"
                        [selectedCountryISO]="CountryISO.France"
                        [maxLength]="15"
                        name="phone3"
                        formControlName="phone3">
                      </ngx-intl-tel-input>
                    </div>
                  </div>
                  <div
                    class="mdc-notched-outline"
                    [class.mdc-notched-outline--notched]="shouldPhoneLabelFloat('phone3')">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                      <span
                        class="mdc-floating-label"
                        [class.mdc-floating-label--float-above]="shouldPhoneLabelFloat('phone3')">
                        Téléphone 3
                      </span>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                  </div>
                </div>
                <div class="mat-mdc-form-field-subscript-wrapper" *ngIf="isPhoneInvalid('phone3')">
                  <div class="mat-mdc-form-field-error">
                    Le numéro de téléphone n'est pas valide
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <mat-form-field appearance="outline" class="form-field-full">
              <mat-label>Code Client</mat-label>
              <input matInput formControlName="codeClient" required />
              @if(clientForm.get('codeClient')?.hasError('required')) {
                <mat-error> Le code client est requis </mat-error>
              }
            </mat-form-field>
          </div>
        </div>

        <!-- Adresse -->
        <div class="form-section">
          <h3 class="section-title">
            <mat-icon>location_on</mat-icon>
            Adresse
          </h3>

          <div class="form-row">
            <mat-form-field appearance="outline" class="form-field-full">
              <mat-label>Rue</mat-label>
              <input matInput formControlName="rue" required />
              <mat-icon matSuffix>home</mat-icon>
              @if(clientForm.get('rue')?.hasError('required')) {
                <mat-error> La rue est requise </mat-error>
              }
            </mat-form-field>
          </div>

          <div class="form-row">
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Code Postal</mat-label>
              <input matInput type="number" formControlName="code_postal" required />
              <mat-icon matSuffix>markunread_mailbox</mat-icon>
              @if(clientForm.get('code_postal')?.hasError('required')) {
                <mat-error> Le code postal est requis </mat-error>
              }
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Ville</mat-label>
              <input matInput formControlName="city" required />
              <mat-icon matSuffix>location_city</mat-icon>
              @if(clientForm.get('city')?.hasError('required')) {
                <mat-error> La ville est requise </mat-error>
              }
            </mat-form-field>
          </div>
        </div>

        <!-- Actions -->
        <div class="form-actions">
          <button mat-button type="button" (click)="onReset()" class="reset-btn">
            <mat-icon>refresh</mat-icon>
            Réinitialiser
          </button>

          <button mat-raised-button color="primary" type="submit" [disabled]="clientForm.invalid" class="submit-btn">
            <mat-icon>save</mat-icon>
            Enregistrer le client
          </button>
        </div>
      </form>
      } @else {
      <div class="loading-state">
        <mat-progress-spinner mode="indeterminate" diameter="42"></mat-progress-spinner>
        <span>Chargement du formulaire...</span>
      </div>
      }
    </mat-card-content>
  </mat-card>
</div>
