:host {
  display: flex;
  height: 100%;
}

.main-content {
  flex: 1; /* Prend tout l'espace restant */
  overflow-y: auto; /* Ajoute une barre de défilement verticale si nécessaire */
  height: 100%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  :host {
    flex-direction: column;
  }

  .main-content {
    height: auto;
    min-height: 0;
  }
}
